.29_4 {
    overflow: hidden;
}

.e29_4 {
    background-color: rgba(206.0000029206276, 245.00000059604645, 155.00000596046448, 1);
    width: 1667px;
    height: 1024px;
    position: absolute;
}

.e39_5 {
    background-color: rgba(196.5624949336052, 189.19140726327896, 189.19140726327896, 1);
    width: 721px;
    height: 165px;
    position: absolute;
    left: 781px;
    top: 40px;
}

.e26_30 {
    background-color: rgba(255, 255, 255, 0.8799999952316284);
    width: 1426px;
    height: 962px;
    position: absolute;
    left: 116px;
    top: 41px;
}

.e34_36 {
    color: rgba(115.81250354647636, 56.20765931904316, 22.67994750291109, 1);
    width: 231px;
    height: 32px;
    position: absolute;
    left: 808px;
    top: 122px;
    font-family: Sora;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.e34_37 {
    color: rgba(115.81250354647636, 56.20765931904316, 22.67994750291109, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 1071px;
    top: 119px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.e36_40 {
    color: rgba(115.81250354647636, 56.20765931904316, 22.67994750291109, 1);
    width: 94px;
    height: 32px;
    position: absolute;
    left: 1323px;
    top: 119px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
}

.e34_38 {
    color: rgba(100.57130858302116, 174.25000101327896, 88.57708498835564, 1);
    width: 712px;
    height: 134px;
    position: absolute;
    left: 146px;
    top: 92px;
    font-family: Sora;
    text-align: left;
    font-size: 70px;
    letter-spacing: 0;
}

.e34_39 {
    color: rgba(0, 0, 0, 1);
    width: 531px;
    height: 324px;
    position: absolute;
    left: 146px;
    top: 198px;
    font-family: Imprima;
    text-align: justified;
    font-size: 30px;
    letter-spacing: 0;
}

.e126_16 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 485px;
    top: 309px;
}

.e36_41 {
    width: 523px;
    height: 58.17777633666992px;
    position: absolute;
    left: 116px;
    top: 531px;
}

.e36_42 {
    width: 523px;
    height: 58.17777633666992px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e36_43 {
    width: 509px;
    height: 58.17777633666992px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e36_44 {
    background-color: rgba(233.7500050663948, 199.03812289237976, 75.96875354647636, 0.4300000071525574);
    width: 509px;
    height: 58.17777633666992px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.e36_45 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 1);
    width: 347px;
    height: 19px;
    position: absolute;
    left: 176px;
    top: 10px;
    font-family: Sora;
    text-align: left;
    font-size: 32px;
    letter-spacing: 0;
}

.e36_46 {
    width: 694px;
    height: 486px;
    position: absolute;
    left: 808px;
    top: 269px;
    background-image: url(images/mata_removebg_preview_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_47 {
    width: 679px;
    height: 455px;
    position: absolute;
    left: 116px;
    top: 522px;
    background-image: url(images/mata2_removebg_preview_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e47_88 {
    background-color: rgba(233.7500050663948, 199.03812289237976, 75.96875354647636, 0.4300000071525574);
    width: 638px;
    height: 73px;
    position: absolute;
    left: 2097px;
    top: 313px;
    border-radius: 100px;
}

.e47_89 {
    color: rgba(115.81250354647636, 56.20765931904316, 22.67994750291109, 1);
    width: 369px;
    height: 58px;
    position: absolute;
    left: 2231px;
    top: 174px;
    font-family: Inter;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
}

.e47_90 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 100%);
    width: 438px;
    height: 199px;
    position: absolute;
    left: 1355px;
    top: 133px;
}

.e47_91 {
    transform: rotate(180deg);
    width: 817px;
    height: 532px;
    position: absolute;
    left: 2824px;
    top: 519px;
    background-image: url(images/mata2_removebg_preview_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e47_92 {
    background-color: rgba(233.7500050663948, 199.03812289237976, 75.96875354647636, 0.4300000071525574);
    width: 638px;
    height: 73px;
    position: absolute;
    left: 2097px;
    top: 492px;
    border-radius: 100px;
}

.e47_93 {
    color: rgba(0, 0, 0, 1);
    width: 85px;
    height: 50px;
    position: absolute;
    left: 2200px;
    top: 336px;
    font-family: Inter;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
}

.e47_94 {
    color: rgba(0, 0, 0, 1);
    width: 329px;
    height: 50px;
    position: absolute;
    left: 2200px;
    top: 512px;
    font-family: Inter;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
}

.e47_95 {
    width: 47px;
    height: 62px;
    position: absolute;
    left: 2134px;
    top: 324px;
    background-image: url(images/usu_removebg_preview_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e47_96 {
    width: 47px;
    height: 50px;
    position: absolute;
    left: 2134px;
    top: 503px;
    background-image: url(images/imagen_de_whatsapp_2023_09_05_a_las_11_20_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e61_198 {
    width: 322px;
    height: 179px;
    position: absolute;
    left: 1209px;
    top: 798px;
    background-image: url(images/newcicle_removebg_preview_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
