<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            background-color: #CEF59B; /* Cambia el color de fondo según tus preferencias */
        }
    </style>
</head>
<body>
    <a>@Html.ActionLink("Volver", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</a>
    <a>@Html.ActionLink("Quienes somos", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</a>
    <div style="width: 1667px; height: 1024px; position: relative; background: #CEF59B">
        <div style="width: 1426px; height: 962px; left: 116px; top: 15px; position: absolute; background: rgba(255, 255, 255, 0.88)"></div>
        <img style="width: 646px; height: 589px; left: 781px; top: 356px; position: absolute" src="https://colombiaverde.com.co/wp-content/uploads/2023/03/plan-de-manejo-integral-de-residuos-solidos.jpg" />
        <div style="width: 755px; height: 131px; left: 208px; top: 49px; position: absolute; mix-blend-mode: darken; color: #65AE59; font-size: 70px; font-family: Sora; font-weight: 400; word-wrap: break-word">Ciclo de los residuos  </div>
        <div style="width: 755px; height: 131px; left: 198px; top: 175px; position: absolute; mix-blend-mode: darken; color: #743817; font-size: 28px; font-family: Sora; font-weight: 400; word-wrap: break-word">¿En qué consiste?</div>
        <div style="width: 543px; height: 229px; left: 198px; top: 583px; position: absolute; background: rgba(162.07, 221, 103.13, 0.43)"></div>
        <div style="width: 477px; height: 185px; left: 217px; top: 560px; position: absolute; text-align: justify"><span style="color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word"><br /> <br /></span><span style="color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word">Generación <br />Recolección <br />Transporte <br />Procesamiento <br />Reciclaje <br />Eliminación <br />Gestión y planificación <br />Educación y concientización.</span></div>
        <div style="left: 198px; top: 535px; position: absolute; text-align: justify"><span style="color: #743B17; font-size: 28px; font-family: Sora; font-weight: 400; word-wrap: break-word">Etapas del ciclo de los residuos sólidos:</span><span style="color: black; font-size: 28px; font-family: Sora; font-weight: 400; word-wrap: break-word"> </span></div>

        <div style="width: 522px; height: 200px; left: 198px; top: 231px; position: absolute; background: rgba(233.75, 199.04, 75.97, 0.43)"></div>


        <div style="width: 477px; height: 185px; left: 217px; top: 246px; position: absolute; text-align: justify; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word">El ciclo de los residuos sólidos, también conocido como ciclo de gestión integral de residuos sólidos, se refiere al proceso que sigue un residuo desde su generación hasta su disposición final. Este ciclo implica una serie de etapas que tienen como objetivo gestionar de manera adecuada los residuos sólidos para minimizar su impacto ambiental y promover la sostenibilidad. </div>
    </div>
</body>
</html>