<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Imprima&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

    <style>
        /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
        body {
            background-color: #CEF59B;
            
        }
    </style>

</head>

<body>
    <a>@Html.ActionLink("Volver", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</a>
    <a>@Html.ActionLink("Ciclo de los residuos", "About", "Home", new { area = "" }, new { @class = "nav-link" })</a>
    <div class=e120_2>
        <div class="e120_3"></div><div class="e120_4"></div><div class="e120_5"></div><div class=e165_71>
            <div class="e126_19"></div><span class="e126_18">
                Misión:
                Nuestra misión es promover la economía circular, un modelo de producción y consumo que garantiza un crecimiento sostenible en el tiempo. Además, nos enfocamos en reducir nuestra huella de carbono, manejar integralmente los residuos y cumplir con estándares ambientales. Creemos que la protección del medio ambiente es fundamental para alimentar un mundo mejor y para lograrlo, es importante reducir, reutilizar y reciclar los residuos.
            </span>
        </div><span class="e137_60">¿Quiénes somos?</span><span class="e165_73">Misión</span><span class="e173_75">
            Visión
        </span><span class="e173_74">Objetivo principal</span><div class="e120_7"></div><span class="e120_8">Inicio de Sesión </span><div class="e120_9"></div><div class="e120_10"></div><div class="e120_11"></div><span class="e120_12">Email</span><span class="e120_13">Contraseña</span><div class="e120_14"></div><div class="e120_15"></div><div class="e120_16"></div><div class=e165_70><div class="e120_17"></div><span class="e120_19">Somos una empresa comprometida con la sostenibilidad y el cuidado del medio ambiente. En nuestro sitio web, ofrecemos información sobre la clasificación y seguimiento del ciclo de los residuos sólidos, así como la venta de productos que surgen de la reutilización de estos materiales. </span></div><div class="e120_20"></div><div class="e120_21"></div><div class="e120_22"></div><div class=e165_69>
            <div class="e120_18"></div><span class="e120_23">
                Objetivo principal:
                Nuestro objetivo principal es promover la economía circular, un modelo de producción y consumo que garantiza un crecimiento sostenible en el tiempo. Además, nos enfocamos en reducir nuestra huella de carbono, manejar integralmente los residuos y cumplir con estándares ambientales. Creemos que la protección del medio ambiente es fundamental para alimentar un mundo mejor y para lograrlo, es importante reducir, reutilizar y reciclar los residuos.
            </span>
        </div><div class=e165_72>
            <div class="e120_6"></div><span class="e120_24">
                Visión:
                Nuestra visión es ser líderes en la promoción de la economía circular y la gestión sostenible de los residuos sólidos. Queremos ser reconocidos como una empresa comprometida con el medio ambiente y la sostenibilidad, y ser un ejemplo a seguir en la industria. Buscamos ser una empresa innovadora que promueve la reutilización de materiales y la reducción de residuos, y que contribuye a la construcción de un mundo más sostenible y equitativo.
            </span>
        </div><div class=e120_25><div class="e120_26"></div><div class="e120_27"></div></div>
    </div>
</body>
</html>