<!DOCTYPE html>
<html>
<head>
    
    <style>
        body {
            background-color: #CEF59B; /* Cambia el color de fondo según tus preferencias */
        }
    </style>
</head>
<body>
    <a>@Html.ActionLink("Quienes somos", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</a>
    <a>@Html.ActionLink("Ciclo de los residuos", "About", "Home", new { area = "" }, new { @class = "nav-link" })</a>

    <div class=e29_4>
        <div class="e39_5"></div>
        <div class="e26_30"></div><span class="e34_38">Bienvenidos</span><span class="e34_39">En nuestro sitio web, encontraras informacion sobre la clasificacion y seguimiento del ciclo de los residuos solidos, asi como la venta de productos que surgen de la reutilizacion de estos materiales. Unete a nuestra mision de promover la sostenibilidad y cuidar del medio ambiente</span>
        <div class=e36_41>
            <div class=e36_42>
                <div class=e36_43>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="e36_46"></div>
        <div class="e36_47"></div>
        <div class="e61_198"></div>
    </div>

</body>
</html>
