<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            background-color: #CEF59B; /* Cambia el color de fondo según tus preferencias */
        }
    </style>
</head>
<body>
    <div style="width: 1667px; height: 1024px; position: relative; background: #CEF59B">
        <div style="width: 1542px; height: 995px; left: 3px; top: -12px; position: absolute; background: rgba(255, 255, 255, 0.88); border: 1px black solid"></div>
        <div style="width: 208px; height: 198px; left: 696px; top: 492px; position: absolute">
            <div style="width: 208px; height: 198px; left: 0px; top: 0px; position: absolute; background: rgba(255, 209.31, 250.43, 0.53); border-radius: 9999px"></div>
            <img style="width: 175px; height: 140px; left: 16px; top: 4px; position: absolute" src="https://static.vecteezy.com/system/resources/previews/009/381/070/non_2x/storage-box-clipart-design-illustration-free-png.png" />
         
        </div>
        
        <div style="width: 249px; height: 239px; left: 104px; top: 489px; position: absolute">
            <div style="width: 222.28px; height: 233.11px; left: 0px; top: 0px; position: absolute">
                <div style="width: 222.28px; height: 233.11px; left: 0px; top: 0px; position: absolute; background: rgba(96.45, 156.19, 68.33, 0.43); border-radius: 9999px"></div>
                
            </div>
            <img style="width: 249px; height: 193.08px; left: 0px; top: 45.92px; position: absolute" src="https://lh3.googleusercontent.com/fife/AK0iWDyE4GunL3gFA8eH19kcwRC0etQDYY5Mrp1_l7hnQUI-iJxQ8DGrKQmMezqYN9KVWJ5gf3IpTiENhELR8AUe0F1d1NpleamhQRSUGMRoz_Xre9sd8iWSt_XrQGPkYYlhy-xDRaLvn5Fh0o-4aEFYNaigkxHpqHg5ESJNR_lwK9N5Dy1TCDoJvVMml9KCRwiDXpQ7KNkpuHBBNerjWaAoZX3WHWtrSwNf6NN1gSzG4qPXk4bKCxOBlGHEIuQil5z8e9jy8Hvl4lHtxdjifbIyC7PFpp-O8KkzKkP2i_BrOqj17Jp8FP7LeZADx49A9b5rgaRps1_SLxQ971V0woTdwiejC4iIPy2vbRJKd7w-ysB0mhJqoghNdjKNsbuEJfy1gQs5AQB4xq7uKlS8TX0opCs2jjjqe7jnhATcKZJQcVv87xLDivAcLanCDq-Bs1XuOMCq-aqoHRBpx093BERPokHQHJ9C9LxN1VB4ivpP33T9sxwIqqtH4vNEFvLXTQuwintlmRPQ9m89ST5wGRwJ-eyOACfDkxJayhBnEbrjbnEwzKJ9antmcRIDnL_Ee17JV8R31Smt5DcnJpqffQwIhsN6FvWYygPx7YBi-W6HEucJpAUyRAp0xU-K8AKETWH5kUIp8tsxORRyYClO_FRsiyc6FpureLLjMgbE3L3jVdJ6nSMbjv2tgW1YYeyUSsTzi6VibvBGEdy_uOeeSD0VdZ04LX58X_xxsq7TRwNEf-84-uKWQv8BANrn9DLs3g11zSi4MvaaJTrDoWR9MkD26l-ezO9dm_G6AJPVbv3ij6mcXbDJvu21YE3eP2Q9M91LB9pZhQ3PHOTs5MBKZzMKvAq2PydP2C1M_M9RzL-d29nJe2SCcjpMl2ZO1zaOiUTpJSEhT-sEZJFuh09bgVF5EI6JiIcc4Sm9iTG_C7s2AilXsJiPxUp7zBg126T0FOd7tH3HJv1uJmwTJPgvXngpm1GIlf95Ntv5NxDe1qH7g-iut7ap8MItRYPpgMF_AUJAwWJ_2kVXOuKnRB0otCZxZy_r2uoYqRGm0M2BiGKXLB4iGh_oPQeh02o_ABfQ4VDr1wDrMcujMhlQKgpi146yXKzz04m2G_ezLboK4X8EuVDSSII_QX3bi1QXWiX4j-XMoGJZVmMXjk-kiLID5Qm1NYfdSq3e9DUalxf8r3dAbnfAbmd48KTcxjOgVFkSrRMzvaG9NyY87cgav9a1wkhdQZxbITRT0uDmJJQk7xxRHIapJRC7rulaOUdmBKAiJw8TCNkSk9Qwg3wl24_eOsjMDZJP6NdVjQGamUAVIOCQtAZ2lFoFPK7wOOJ-SjwHwBEYBcpzKC24pq8SPimlb9Oq_NO3L4qBRvRt8k2dEhdbwMqE-sluRxnQdViWVsE5sNntL4RojrzOLE1J78gQGV1vM2HnX7Fr44ocxTQWKx_hQmOGhBQPDeOaGmMd_nUVpM6KIYRSNEgcbRo_SiSn9eW1oiZloy5d2ONVNBrxT1Mw7epJi6ZDcrx-bYgODa0cgA_meupOA0CT=s320-w320-h200-p-k" />
        </div>
        <div style="width: 208px; height: 198px; left: 406px; top: 493px; position: absolute">
            <div style="width: 208px; height: 198px; left: 0px; top: 0px; position: absolute; background: #CEF59B; border-radius: 9999px"></div>
            <img style="width: 170px; height: 128px; left: 44px; top: 34px; position: absolute" src="https://lh3.googleusercontent.com/fife/AK0iWDyTyxfyTg7pqYonfrZlz7gMoTHWPh0oOBtdUVMKwK_4NI83E_NCjzkMnBMQvZg_mTY8jdD1YK9TlHiKw5YHFCKo4nosJ-p5_kdo6Hpr7m2JrjgH8QAxOz7jAoKtNuUgFObyazQ_04fft9JgSrGtfY6XsVV8sw_o8wagpl8_wnRSRRCrWEUYg_e749ga0bgEL2f_3WjyvT0WQJKRTR10YdPIW3gqnuGz7Pu39P0AJjvONpof_8dZ9LIYDLnpjO0OQmw4rx8IvBfs9wPs6pKP6_uVwFoTCePHxq5vcXGM5LdbX3Ix6V1w91e7QUF4s0YfHiLZW8hr8utuDogZNS2GS7VxJpHypE4dp4JalEhhzMlcvwNEFcfpOENFeeiDKDxTyHa4XHQfAQK0PKQ9NFRNc_E00Ftw5VkhT6bJjWtcxDoUOHlyLvD5DyWbdFy4WjbHifT6fh7pDf7GzJ7A5QbobZ8cYLtBOL3jEbFm15CGQO4JOJXUAaPlhx6hZNAfZjy58D3ZPJXUC5ZaciwcxkKKVcvqG5XuvbxL4OgvB_fnu432WqJsK8OpIPm9xTPq_yj1W-G2beTE_wlyw1OaF6sNSCJ6ZPunMkqTn1MOY7NwwKFbjnVfSvu2KP1GRuNxKu_bC7pXKjkZG-bwYSXkNSyfuWhygOUYXQonCfzaqDVsZh6-zWSgnuQOOxT9IcGAFK2XhHBWAVmiZRzAuWdWJcPs5za_F7I2gICCacO5rwqQVHhM12BbUsVdETHdANLAYe4tyxZ9Bjrg-QT-SzL0G_8lqH08GAzx7-Uh-cLi7pZBpKzTg-wAEpZzdErUjoOVZNHFk-WP-TcHIEcNFweICBIQGdnugkHyCxB9phbd5r6jLKQx7IE0JBf8HDecFI3VSbEYhZnbE_i4z92w0-f0p45f4tzq2o30eODROFUpCUataXtxMd5X2blDQ0dEtnxhgWh5UzAqwxbmYLFgMe7kpre8b1MbAvc0aoWl0Ub5Y3eYONYFgg0DczV_CfKoxG9N_oG1hbxu70wsDP9WRdHjwKv_p5OVldaH5MfXuq9BdaxO8NOb53xfpUMBKxfGY8mRIz5cShQZSsMIKY7m4hX-xC2TD6LI6zqWTib7wTSH_YlUjl8kedzYsSB9T1_IIoWjh21yAcbL94v7Avs1Z7QZxm4KHmVZO2hjG5wsF1kYiyaSPEIf6ew0PbWX8ODU7Rnc544xs6sAtpOjLQgPqyb2smtQjmse-lY4WAPX8NGopPOBL4OSjYdBGgY6QUhjx5YyJvan1Cz4MFJ6ZdWi5h_9D5_ipzMOMY_wjQw12_-J_IPHs2wWAmfPkeCbeHmd4TI2exeLj7N2iKSLlplUKgxuhPXXo6R3pY-TBa7nMUr_tAXNi6TazncHFZFnyDhyHEEA4zPEHbmFOttkg2dmaizaIqNIZXNBjg926_MOxROsZCkLxhszHrb5eZ1cUT0Qs6DYd9BsE5T8MRiusn0_qiBuNah626LA2Lf0cl1cYDlEcDhKU_omEfyIa8XP25VP4CZ7aAIErHMpj9Od=s320-w320-h200-p-k" />
        </div>
        <div style="width: 236px; height: 204px; left: 262px; top: 221px; position: absolute">
            <div style="width: 208px; height: 198px; left: 0px; top: 0px; position: absolute; background: rgba(233.75, 199.04, 75.97, 0.43); border-radius: 9999px"></div>
            <img style="width: 130px; height: 152px; left: 41px; top: 15px; position: absolute" src="https://cdn-icons-png.flaticon.com/256/2907/2907424.png" />
            
        </div>
        <div style="width: 477px; height: 233px; left: 687px; top: 271px; position: absolute; text-align: justify; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word">Los materiales que debés separar de la basura son: Papel y cartón: cajas, sobres, revistas, diarios, folletos, tetra brick. Plásticos: botellas, tapas, papel, sachets, bidones, potes, papel film, vajilla descartable. Metales: latas de conservas, latas de bebidas, desodorantes, llaves.</div>
        <div style="width: 755px; height: 131px; left: 174px; top: 55px; position: absolute; mix-blend-mode: darken; color: #65AE59; font-size: 70px; font-family: Sora; font-weight: 400; word-wrap: break-word">Recolector</div>
        
        <div style="width: 570px; height: 181px; left: 649px; top: 245px; position: absolute; background: rgba(46.90, 135.60, 77.06, 0.43)"></div>
        

        
        <div style="width: 223px; height: 227px; left: 951px; top: 471px; position: absolute">
            <div style="width: 191.48px; height: 183.61px; left: 0px; top: 31.53px; position: absolute; background: rgba(110.39, 172.05, 149.85, 0.54); border-radius: 9999px"></div>
            <img style="width: 127.04px; height: 153.01px; left: 9.21px; top: 0px; position: absolute" src="https://cdn-icons-png.flaticon.com/256/5705/5705135.png" />
            
            
        </div>
       
    </div>
</body>
</html>
